@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
/*Media query's converted to em*/
/* Xpx / 16 = em
 75em - 1200px
/68.75em - 1100px
56.25em - 900px
43.75em - 700px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: font-family;
  font-weight: 300;
  color: #7887ab;
  background-color: #162955; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-starts] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 8rem 80vh 30vh min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-starts] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: 8rem calc(100vh - 8rem) min-content 90vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-starts] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }

.heading-4 {
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #4f628e; }

.heading-3 {
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #4f628e; }

.heading-2 {
  font-size: 3.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #4f628e; }

.heading-1 {
  font-size: 6rem;
  line-height: 1;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #4f628e; }

.btn-primary {
  margin-top: 3rem;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #4f628e;
  background-color: #162955;
  border: solid 0.01rem #4f628e;
  transition: ease-in-out all 0.5s;
  cursor: pointer; }

.btn-primary:hover {
  background-color: #4f628e;
  color: #162955;
  box-shadow: 0.5rem 0.1rem 2rem 1rem #7887ab; }

.btn-primary:focus {
  outline: none;
  transform: scale(1); }

.sidebar {
  background-color: #4f628e;
  box-shadow: 0.1rem 0.1rem 1rem #7887ab;
  z-index: 4;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }
  @media screen and (max-width: 56.25em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      z-index: 99; } }

.sidebar__container {
  background-color: #4f628e;
  width: 8rem;
  height: 80vh;
  position: fixed; }
  @media screen and (max-width: 56.25em) {
    .sidebar__container {
      width: 100vw;
      height: 8rem;
      box-shadow: 0.1rem 0.1rem 1rem #7887ab; } }

/*Open icon*/
.navigation__icon {
  cursor: pointer;
  position: relative;
  margin: 4rem auto;
  width: 3.2rem;
  height: 0.4rem;
  background-color: #061539;
  display: block;
  z-index: 99; }
  @media screen and (max-width: 56.25em) {
    .navigation__icon {
      float: right;
      margin: 4rem 4rem; } }

.navigation__icon::before,
.navigation__icon::after {
  cursor: pointer;
  width: 3.2rem;
  height: 0.4rem;
  background-color: #061539;
  display: inline-block; }

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s; }

.navigation__icon::before {
  top: -1rem; }

.navigation__icon::after {
  top: 1rem; }

.navigation__icon:hover {
  background-color: #162955; }

.navigation__icon:hover::before {
  top: -1.2rem;
  background-color: #162955; }

.navigation__icon:hover::after {
  top: 1.2rem;
  background-color: #162955; }

/* Close Icon */
.navigation__icon--close {
  cursor: pointer;
  position: relative;
  margin: 4rem auto;
  width: 3.2rem;
  height: 0.4rem;
  background-color: transparent;
  display: block; }

.navigation__icon--close::before,
.navigation__icon--close::after {
  cursor: pointer;
  width: 3.2rem;
  height: 0.4rem;
  background-color: #061539;
  display: inline-block; }

.navigation__icon--close::before,
.navigation__icon--close::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s; }

.navigation__icon--close::before {
  transform: rotate(135deg);
  top: 0rem; }

.navigation__icon--close::after {
  transform: rotate(-135deg);
  top: 0rem; }

.navigation__icon--close:hover::before {
  background-color: #162955; }

.navigation__icon--close:hover::after {
  background-color: #162955; }

.nav_menu-mobile {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #4f628e;
  animation-name: showNavigation;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out; }

.mobile-menu {
  display: none; }

.mobile-menu li {
  list-style: none;
  text-align: center;
  margin-bottom: 4rem; }

.mobile-menu li:first-child {
  padding-top: 6rem; }

.mobile-menu a {
  color: #061539;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 108.95%;
  animation-name: showList;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  cursor: pointer; }

.mobile-menu a:hover {
  color: #162955; }

@keyframes showNavigation {
  0% {
    width: 8rem; }
  100% {
    width: 100%; } }

@keyframes showList {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@media screen and (max-width: 56.25em) {
  @keyframes showNavigation {
    0% {
      height: 8rem; }
    100% {
      height: 100%; } } }

.header {
  background-color: #061539;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba(6, 21, 57, 0.9), rgba(6, 21, 57, 0.9)), url(../img/carB.jpg);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  padding: 8rem;
  padding-top: 4rem;
  justify-content: center; }
  @media screen and (max-width: 56.25em) {
    .header {
      grid-column: full-start / full-end; } }
  .header h1 {
    color: #7887ab; }
  .header button {
    align-self: start;
    justify-self: start; }
  .header__logo {
    font-size: 3rem;
    justify-self: center; }
    .header__logo span {
      color: #4f628e; }
  .header__brands-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 2rem;
    font-size: 1.6rem; }
    .header__brands-text::before, .header__brands-text::after {
      content: "";
      height: 0.1rem;
      display: block;
      background-color: currentColor; }
  .header__brands-logos {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr); }
    .header__brands-logos img {
      max-height: 6rem;
      max-width: 100%;
      opacity: 0.8; }

.top__cars {
  background-color: #061539;
  grid-column: col-end 6 / full-end;
  display: grid;
  grid-template-rows: 50%;
  overflow: hidden; }
  @media screen and (max-width: 56.25em) {
    .top__cars {
      grid-column: full-start / full-end;
      display: flex; } }
  @media screen and (max-width: 43.75em) {
    .top__cars {
      display: none; } }

.top__cars--container {
  width: 100%; }
  .top__cars--container img {
    width: 100%;
    height: 100%;
    opacity: 0.5; }

.top__cars--container {
  position: relative; }

.top__cars--container:hover .overlay {
  height: 50%; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(6, 21, 57, 0.8);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease; }
  .overlay__text {
    color: #7887ab;
    font-size: 1.8rem;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  .overlay .span {
    font-size: 1.2rem; }
  .overlay button,
  .overlay button:focus {
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.features {
  margin: 15rem 0;
  grid-column: center-starts / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  background-color: #162955;
  align-items: start; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem; }
  .feature__icon {
    font-size: 3rem;
    color: #4f628e; }
  .feature__text {
    font-size: 1.8rem;
    text-align: center;
    grid-column: 1 /-1; }

.story__pictures {
  background-image: linear-gradient(rgba(6, 21, 57, 0.2), rgba(6, 21, 57, 0.2)), url("../img/image3.jpg");
  grid-column: full-start / col-end 4;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media screen and (max-width: 43.75em) {
    .story__pictures {
      grid-column: 1 / -1; } }

.story__img--1 {
  width: 115%;
  height: auto;
  grid-row: 1 / 4;
  grid-column: 3 / 7;
  z-index: 2;
  box-shadow: 0.5rem 0.1rem 2rem #7887ab;
  transition: 0.5s ease-in-out; }
  @media screen and (max-width: 43.75em) {
    .story__img--1 {
      grid-column: 2 / 6; } }

.story__img--1:hover {
  transform: scale(1.1);
  z-index: 3; }

.story__img--2 {
  width: 115%;
  height: auto;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 2;
  box-shadow: 0.5rem 0.1rem 2rem #7887ab;
  transition: 0.5s ease-in-out; }
  @media screen and (max-width: 43.75em) {
    .story__img--2 {
      grid-column: 4 / 7; } }

.story__img--2:hover {
  transform: scale(1.1); }

.story__content {
  background-color: #061539;
  grid-column: col-end 4 / full-end;
  padding: 6rem 8vw;
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;*/
  display: grid;
  align-content: center;
  justify-items: start; }
  @media screen and (max-width: 43.75em) {
    .story__content {
      grid-column: 1 / -1; } }

.story__text {
  font-size: 1.8rem; }

.cars {
  background-color: #162955;
  grid-column: center-starts / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.car {
  color: #162955;
  background-color: #4f628e;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: ease-in-out 0.5s; }
  .car__img {
    width: 100%;
    grid-row: 1 /2;
    grid-column: 1 / -1;
    opacity: 0.5;
    transition: ease-in-out 0.5s; }
  .car__img:hover {
    opacity: 1; }
  .car__star {
    grid-row: 1 /2;
    grid-column: 2 /3;
    color: #7887ab;
    font-size: 2.5rem;
    justify-self: end;
    margin: 1rem;
    transition: ease-in-out 0.5s; }
  .car__star:hover {
    color: yellow;
    transform: scale(1.1); }
  .car__name {
    grid-column: 1 / -1;
    font-size: 2rem;
    color: #4f628e;
    background-color: #162955;
    margin: 0 2rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    justify-self: center;
    z-index: 2; }
  .car__details {
    justify-self: start;
    font-size: 1.5rem;
    display: flex;
    padding: 1rem; }
    .car__details i {
      padding-left: 2rem; }
    .car__details p {
      padding-left: 1rem; }
  .car__btn {
    grid-column: 1 / -1; }

.car:hover {
  transform: scale(1.1);
  box-shadow: 0.5rem 0.1rem 2rem #7887ab; }

.gallery {
  background-color: #061539;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  @media screen and (max-width: 43.75em) {
    .gallery {
      grid-gap: 0.5rem; } }
  .gallery__item--1 {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--2 {
    grid-row: 1 / span 2;
    grid-column: 3 / span 2; }
  .gallery__item--3 {
    grid-row: 1 / span 3;
    grid-column: 5 / span 3; }
  .gallery__item--4 {
    grid-row: 6 / span 2;
    grid-column: 5 / span 2; }
  .gallery__item--5 {
    grid-row: 3 / span 2;
    grid-column: 1 / span 2; }
  .gallery__item--6 {
    grid-row: 6 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--8 {
    grid-row: 5 / span 3;
    grid-column: 1 / span 2; }
  .gallery__item--10 {
    grid-row: 4 / span 2;
    grid-column: 5 / span 2; }
  .gallery__item--11 {
    grid-row: 1 / span 1;
    grid-column: 8 / span 1; }
  .gallery__item--12 {
    grid-row: 4 / span 2;
    grid-column: 7 / span 2; }
  .gallery__item--14 {
    grid-row: 3 / span 5;
    grid-column: 3 / span 2; }
  .gallery__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: ease-in-out 0.5s; }
  .gallery__img:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 2;
    box-shadow: 0.5rem 0.1rem 2rem #7887ab; }

.footer {
  background-color: #162955;
  grid-column: full-start / full-end;
  padding: 8rem; }
  .footer__legal {
    font-size: 1.5rem;
    text-align: center; }

.nav {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 15rem);
  grid-gap: 3rem;
  justify-items: center; }
  @media screen and (max-width: 43.75em) {
    .nav {
      grid-gap: 0; } }
  .nav__item {
    list-style: none;
    margin: 4rem 0; }
  .nav__link {
    text-decoration: none;
    color: #7887ab;
    background-color: #061539;
    font-size: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    display: block;
    transition: 0.5s all; }
  .nav__link:hover {
    transform: scale(1.1) translateY(-0.5rem);
    outline: none; }

.modal {
  display: none;
  position: fixed;
  padding-top: 5rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(22, 41, 85, 0.6);
  backdrop-filter: blur(10px);
  z-index: 99;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s; }
  .modal__image--container {
    margin: 0 auto;
    width: 70%;
    max-width: 56.1rem;
    position: relative; }
  .modal__content {
    width: 100%;
    display: block; }
  .modal__close {
    position: absolute;
    color: #7887ab;
    font-size: 5.5rem;
    font-weight: bold;
    transition: 0.3s;
    padding-left: 2rem;
    cursor: pointer; }
  .modal__close:hover {
    color: red;
    transform: scale(1.1); }

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

.modal-content {
  margin: 0 auto;
  width: 80%;
  text-align: center; }
